<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>基金持仓信息</title>
    <style>
    </style>
</head>
<body>
    <h1>基金持仓信息</h1>
    <table>
        <tr>
            <th>股票代码</th>
            <th>股票名称</th>
            <th>金额（万元）</th>
        </tr>
        {% for record in data %}
        <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.name }}</td>
            <td>{{ record.amount }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
